@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.homeowners {
  box-shadow: -11px 15px 12px -2px rgba(0, 0, 0, 0.38);
}

@media only screen and(min-width: 2000px) {
  .homeowners {
    // margin-right: 260px;
    position:absolute;
    left: -100px;
  }
}

/* vu-anh-TiVPTYCG_3E-unsplash 1 */

// .kw-header {
//   background: linear-gradient(111.95deg, rgba(0, 62, 156, 0.66) 21.02%, rgba(33, 81, 138, 0.2508) 84.13%);
// }


